<p id="notice"><%= notice %></p>

<p>
  <strong>Id number:</strong>
  <%= @student.id_number %>
</p>

<p>
  <strong>First name:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @student.last_name %>
</p>

<p>
  <strong>Enrolled section:</strong>
  <%= @student.enrolled_section %>
</p>

<p>
  <strong>Section number:</strong>
  <%= @student.section.section_number %>
</p>

<p>
  <strong>Professor:</strong>
  <%= @student.professor.name %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
